
*.CopyComplete
*.json
*.xml
*.dll
*.pdb
*.cache
*.props
*.targets
LeaveRequest/obj/Debug/netcoreapp3.1/LeaveRequest.assets.cache
LeaveRequest/obj/Debug/netcoreapp3.1/LeaveRequest.csprojAssemblyReference.cache
LeaveRequest/obj/LeaveRequest.csproj.nuget.dgspec.json
LeaveRequest/obj/LeaveRequest.csproj.nuget.g.props
LeaveRequest/obj/LeaveRequest.csproj.nuget.g.targets
LeaveRequest/obj/project.assets.json
LeaveRequest/obj/project.nuget.cache
LeaveRequest/obj/Debug/netcoreapp3.1/LeaveRequest.assets.cache
LeaveRequest/obj/Debug/netcoreapp3.1/LeaveRequest.csprojAssemblyReference.cache
LeaveRequest/obj/LeaveRequest.csproj.nuget.dgspec.json
LeaveRequest/obj/LeaveRequest.csproj.nuget.g.props
LeaveRequest/obj/LeaveRequest.csproj.nuget.g.targets
LeaveRequest/obj/project.assets.json
LeaveRequest/obj/project.nuget.cache
*.cache
LeaveRequest/obj/project.nuget.cache
LeaveRequest/obj/project.assets.json
LeaveRequest/obj/LeaveRequest.csproj.nuget.dgspec.json
LeaveRequest/obj/Debug/netcoreapp3.1/LeaveRequest.assets.cache
.vs/LeaveRequest/v16/.suo
*.exe
*.json
*.csproj
*.csproj
LeaveRequest/Migrations/20210530034105_MigrationModels.Designer.cs
LeaveRequest/Migrations/MyContextModelSnapshot.cs
LeaveRequest/LeaveRequest.csproj
LeaveRequest/Startup.cs
LeaveRequest/obj/Debug/netcoreapp3.1/LeaveRequest.csproj.FileListAbsolute.txt
LeaveRequest/Startup.cs
LeaveRequest/obj/Debug/netcoreapp3.1/LeaveRequest.csprojAssemblyReference.cache
*.cache
LeaveRequest/appsettings.json
