
*.CopyComplete
*.json
*.xml
*.dll
*.pdb
*.cache
*.props
*.targets
LeaveRequest/obj/Debug/netcoreapp3.1/LeaveRequest.assets.cache
LeaveRequest/obj/Debug/netcoreapp3.1/LeaveRequest.csprojAssemblyReference.cache
LeaveRequest/obj/LeaveRequest.csproj.nuget.dgspec.json
LeaveRequest/obj/LeaveRequest.csproj.nuget.g.props
LeaveRequest/obj/LeaveRequest.csproj.nuget.g.targets
LeaveRequest/obj/project.assets.json
LeaveRequest/obj/project.nuget.cache
LeaveRequest/obj/Debug/netcoreapp3.1/LeaveRequest.assets.cache
LeaveRequest/obj/Debug/netcoreapp3.1/LeaveRequest.csprojAssemblyReference.cache
LeaveRequest/obj/LeaveRequest.csproj.nuget.dgspec.json
LeaveRequest/obj/LeaveRequest.csproj.nuget.g.props
LeaveRequest/obj/LeaveRequest.csproj.nuget.g.targets
LeaveRequest/obj/project.assets.json
LeaveRequest/obj/project.nuget.cache
