@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h1>Ini Halaman Manager</h1>
<div class="container">
    <div class="row">
        <table id="applyList" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>No</th>
                    <th>NIK</th>
                    <th>DEPARTEMENT NAME</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>EMAIL</th>
                    <th>ID Request</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Reason</th>
                    <th style="width: 300px;">Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>No</th>
                    <th>NIK</th>
                    <th>DEPARTEMENT NAME</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>EMAIL</th>
                    <th>ID Request</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Reason</th>
                    <th style="width: 300px;">Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<section>
    <canvas id="myChart" width="400" height="400"></canvas>
</section>


<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary tes" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>-->
<!-- Modal -->
<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="text-transform:uppercase"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body-detail">
                ...
                <button></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="approve">Approve</button>
                <button type="button" class="btn btn-danger" id="tolak">Tolak</button>
            </div>
        </div>
    </div>
</div>