@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h1>PROFILE</h1>
<div class="container">
    <form class="needs-validation" id="form" action="javascript:updateProfile()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="EmployeeId">NIK</label>
                    <input type="text" class="form-control" id="NIKProfile" placeholder="NIK" required />
                </div>

                <div class="form-group">
                    <label for="Name">Username</label>
                    <input type="text" class="form-control" id="UserNameProfile" placeholder="Username" required />
                </div>

                <div class="form-group">
                    <label for="Name">First Name</label>
                    <input type="text" class="form-control" id="FirstNameProfile" placeholder="First Name" required />
                </div>

                <div class="form-group">
                    <label for="Age">Last Name</label>
                    <input type="text" class="form-control" id="LastNameProfile" placeholder="Last Name" required />
                </div>

                <div class="form-group">
                    <label for="State">Phone</label>
                    <input type="text" class="form-control" id="PhoneProfile" placeholder="Phone" required />
                </div>

                <div class="form-group">
                    <label for="Country">Birth Date</label>
                    <input type="date" class="form-control" id="BirthDateProfile" placeholder="Birth Date (yyyy-mm-dd)" required />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="Country">Email</label>
                    <input type="email" class="form-control" id="EmailProfile" placeholder="Email" required />
                </div>
                <div class="Email"></div>
                <div class="form-group" id="passwordDiv">
                    <label for="Country">Passwrod</label>
                    <input type="password" class="form-control" id="PasswordProfile" pattern="[a-zA-Z0-9]+" minlength="8" placeholder="Password" required />
                </div>

            </div>
            <input type="submit" value="Update" id="updateProfile" class="form-control formButton btn-success" name="updateProfile" placeholder="UpdateProfile" />
        </div>
    </form>
</div>